html {
  font-size: 17px;
  background-image: url('../images/papyrus-dark.png');
  font-family: "Fira Code", monospace;
  background-color: #000;
  color: #fff;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 2rem;
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.022em;
  gap: 2rem;
}

header {
	border-bottom: 1px solid #333;
}
header .title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.title {
  animation: glowIn 1.5s ease-in-out forwards;
}

@keyframes glowIn {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
    text-shadow: none;
  }
  50% {
    opacity: 0.5;
    text-shadow: 0 0 10px rgba(255,255,255,0.4);
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.projects, .blogs, .contact, .intro {
  animation: fadeIn 1.5s ease-in forwards;
}

.intro {
  font-size: 1rem;
  max-width: 800px;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

a {
  color: hotpink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  gap: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #333;
  justify-content: flex-start;
  color: #333;
  font-size: 15px;
}

footer svg {
  transition: all 0.3s ease;
  cursor: pointer;
}

footer a {
  color:#333;
}

footer a:hover {
  color:hotpink;
}

footer a:hover svg {
  transform: scale(1.2);
}